---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if not p.data.noindex and p.url and not p.url.endsWith(".xml") and not p.url.endsWith(".txt") and not p.url.endsWith(".html") %}
  <url><loc>{{ p.url | absUrl }}</loc></url>
{%- endif %}{% endfor %}
</urlset>
